body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(52, 52, 52), rgb(123, 201, 250));
    background-size: auto 200vh;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

#question1,
#question2,
#question3,
#question4,
#userName,
#reset,
#timeDisplay,
#title,
#highScoresHeading {
    display: none
}

form,
div {
    display: block;
    text-align: center;
    justify-content: center;
    border: 1vh solid grey;
    width: 100%;
}

button {
    margin-top: 3%;
    background-color: rgb(245, 9, 9);
    border: solid .5px black;
    border-radius: 30%;
    color: white;
}

button:hover {
    background-color: rgb(104, 135, 165);
}

button:active {
    background-color: yellow;
}

input {
    margin-top: 2%;
}

#endPage {
    display: none;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#highScores {
    border: none;
    width: 150px;
    text-align: center;
}

#Start {
    font-size: larger;
    padding: 10px;
}

label {
    color: white;
    font-size: large;
}

img {
    display: none;
    position: absolute;
}

.img1 {
    left: 0;
    bottom: 0;
    height: 30vh;
}

.img2 {
    right: 0;
    bottom: 0;
    height: 40vh;
}

.img3 {
    right: 0;
    top: 0;
    height: 50vh;
}

.img4 {
    left: 0;
    top: 0;
    height: 90vh;
}

.img5 {
    bottom: 0;
    height: 50vh;
}

audio {
    display: none;
}

#intro {
    display: flex;
    width: 90vh;
    border: 3px solid red;
    padding: 4px;
    font-size: large;
}