body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h1,
h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#question2,
#question3,
#question4,
#userName,
#reset,
#highScoresHeading {
    display: none
}

form,
div {
    display: block;
    text-align: center;
    justify-content: center;
    border: 1vh solid grey;
    width: 100%;
}



button {
    margin-top: 3%;
}

input {
    margin-top: 2%;
}

#endPage {
    display: none;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#highScores {
    border: none;
    width: 150px;
    text-align: center;
}